/* dark purple   #1f1e3d */
/* main   #f2f6f7 */
/* white card bg   #f9fdff  -  border   #edf2f5 */
/* orange card bg   #ffe79d   - border   #fee07f */
/*  */

*, 
*:before, 
*:after {
  box-sizing:  border-box;
}

body {
    display: grid;
    font-family: 'Open Sans';
    font-weight: 400;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 70px 5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
}

header {
    align-items: center;
    background-color: #1f1e3d;
    color: white;
    display: flex;
    font-weight: 800;
    grid-area: 1 / 1 / 2 / 3;
    justify-content: space-between;
    padding: 0 15px;
}

.heading--orange {
    color: #ffc30c
}

button {
    cursor: pointer;
}

input, 
button {
    border-radius: 3px;
    height: 40px;
}

.header__input,
.header__btn {
    border: none;
}

.header__btn {
    background-color: #cfd9dd;
    border-radius: 3px 0 0 3px;
    padding-top: 5px;
    position: absolute;
    right: 265px;
    width: 50px;
}

.header__img {
    height: 25px;
}

.header__input {
    border-radius: 0 3px 3px 0;
    padding-left: 8px;
    width: 250px;
}

.side-bar {
    background-color: #597a8b;
    color: #f2f6f7;
    grid-area: 2 / 1 / 3 / 2;
    height: 100vh;
    padding: 15px;
}

.form-input__label {
    display: block;
    font-size: 12px;
    margin: 28px 0 10px;
}

.form__input {
    border: 2px solid #1f1e3d;
}

.form__input--short {
    border-radius: 3px 0 0 3px;
    width: 85%;
}

.form__div {
     position: relative;
}

.form__btn--small {
    border-radius: 0 3px 3px 0;
    right: 6px;
    bottom: -15px;
    position: absolute;
    width: 13%;
}

.form__btn {
    background-color: #1f1e3d;
    border: none;
    color: white;
    margin-bottom: 15px;
}

.form__btn:hover {
    background-color: white;
    color: #1f1e3d;
}

.form__btn--top {
    margin-top: 20px;
}

.form__input--long,
.form__btn--big {
    width: 100%;
}

.card-container {
    background-color: #f2f6f7;
    grid-area: 2 / 2 / 3 / 3;
    padding: 20px;
}

.card-container__message {
    text-align: center;
}

.card {
    width: 400px;
}